h1 {
    font-weight: 800;
    padding-bottom: 3%;

    border-bottom: 3px dotted rgb(208, 100, 100);
}

h2 {
    padding-top: 2%;
    font-weight: 600;
}

li {
    font-size: 16pt;
}

body {
    background-color: #d7b8bc;
}

a {
    text-decoration: none;
    border-bottom: 3px dotted #d0646483;
    color: black;
    transition: 0.3s;
}

a:hover {
    text-shadow: -2px 2px 0 #d06464;
}

.title {
    font-size: 48pt;
    text-align: center;
    font-weight: 700;
}

.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
    z-index: 1;
}

.webgl {
    position: relative;
    top: 0;
    left: 0;
    outline: none;
    z-index: 2;
}

.essay {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    width: 100%;
}

.clickable {
    color: #d06464;
    cursor: pointer;
}

.clickable:hover {
    color: #a02f2f;
}